<!-- popular_causes_area_start  -->
<div class="popular_causes_area pt-120">
    <div class="container">
        <div class="row">
            <div *ngFor="let charity of charities" class="col-lg-4 col-md-6">
                <div class="single_cause">
                    <div class="thumb">
                        <img src="{{charity.charity_image}}" alt="">
                    </div>
                    <div class="causes_content">
                        <div class="custom_progress_bar">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progres_count">
                                        30%
                                    </span>
                                </div>
                              </div>
                        </div>
                        <div class="balance d-flex justify-content-between align-items-center">
                            <span>Raised: KES.50000.00 </span>
                            <span>Goal: {{charity.target_amount}} </span>
                        </div>
                        <a routerLink="/charities-details" href=""><h4> {{charity.name}}</h4></a>

                        <!-- <a href="cause_details.html"><h4>Help us to Send Food</h4></a> -->
                        <p>The passage is attributed to an 
                            unknown typesetter in the century 
                            who is thought</p>
                            <a routerLink="/charities-details" href="">Read</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- popular_causes_area_end  -->


