<!-- slider_area_start -->
{{message}}
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider_text ">
                        <span>Get Started Today.</span>
                        <h3> Help the children
                            When They Need</h3>
                        <p>With so much to consume and such little time, coming up <br>
                            with relevant title ideas is essential</p>
                            <a routerLink="/about" class="boxed-btn3" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- popular_causes_area_start  -->
<div class="popular_causes_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Featured Charities</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="causes_active owl-carousel">
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="assets/img/causes/1.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Raised: KES.50000.00 </span>
                                <span>Goal: KES.90000.00 </span>
                            </div>
                            <h4>Help us to Send Food</h4>
                            <p>The passage is attributed to an 
                                unknown typesetter in the century 
                                who is thought</p>
                                <a routerLink="/charities-details" href="">Read More</a>
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="assets/img/causes/2.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Raised: KES.50000.00 </span>
                                <span>Goal: KES.90000.00 </span>
                            </div>
                            <h4>Clothes For Everyone</h4>
                            <p>The passage is attributed to an 
                                unknown typesetter in the century 
                                who is thought</p>
                            <a class="read_more" href="cause_details.html">Read More</a>
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="assets/img/causes/3.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Raised: KES.50000.00 </span>
                                <span>Goal: KES.90000.00 </span>
                            </div>
                            <h4>Water For All Children</h4>
                            <p>The passage is attributed to an 
                                unknown typesetter in the century 
                                who is thought</p>
                            <a class="read_more" href="cause_details.html">Read More</a>
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="assets/img/causes/1.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Raised: KES.50000.00 </span>
                                <span>Goal: KES.90000.00 </span>
                            </div>
                            <h4>Help us to Send Food</h4>
                            <p>The passage is attributed to an 
                                unknown typesetter in the century 
                                who is thought</p>
                            <a class="read_more" href="cause_details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_causes_area_end  -->