.dont{
    border: 2px solid black;
    background-color: rgb(99, 99, 170);
    margin-top: 5%;
    width: 500px;
    padding: 0.5em;
    border-radius: 45px;
}
 .h2{
     font-family: poppins;
     color: black;
 }

 .give{
     font-family: serif;
     font-size: 40px;
 }

 .mr{
     margin-left: 10px;
 }


  
  .custom-select {
    background-color: rgba(0, 0, 0, 0.116);
  }
  
  .txtGroup {
    padding: 1.5rem;
  }
  
  .content {
    background-color: #849846c0;
    color: white;
    margin: 1rem;
  }
  
  .totals {
    margin: 1rem;
  }
  
  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .h01{
    background-color: #839846;
  }
  

  
  /* Small devices (portrait tablets and large phones, 600px and down) */
  @media screen and (max-width: 767px) {
    .content {
      text-align: center;
    } 
  }
  
  @media screen and (max-width: 575px) {
    
  }