<div class="container dnt">
  <h3 class="text-center text-dark">Make Donations</h3>
  <form #donationForm="ngForm" (ngSubmit)="onSubmit(donationForm.value)" class="mt-5 text-center">
  <div class="mb-3">
    <input id="amount" type="number" name="amount_raised" class="form-control" ngModel placeholder="target_amount" >
  </div> 
   
  
  <select #frequency class="custom-select mb-3" id="selection" name="payment_method" class="form-control" ngModel placeholder="payment_method">
    <option selected disabled hidden value="" placeholder=""> Payment Method</option>
    <option value="PAY-PAL">PAY-PAL</option>
  </select>
  

  <div class="mt-3" >
    
    <input id="amount" type="text" name="comment" class="form-control" ngModel placeholder="comment">
  </div> 
  
  
    <!-- <select #frequency class="custom-select mt-5 form-control" id="selection" name="donation_frequency" ngModel placeholder="donation_frequency">
      <option selected disabled hidden value="">Giving frequency</option>
      <option value="ONE-TIME">ONE-TIME</option>
      <option value="MONTHLY">MONTHLY</option>
      <option value="YEARLY">YEARLY</option>
    </select>
   -->
  
   <button class="btn btn-outline-warning mt-5 " type="submit" routerLink="/payment" >Submit</button> 
  
  
  </form>
  
  </div> 