<!-- <div class="container dnt">
    <form #donationForm="ngForm" (ngSubmit)="onSubmit(donationForm.value)" class="mt-5 text-center">
    <div>
      <label for="amount">Target Amount: </label>
      <input id="amount" type="number" name="amount_raised" class="form-control" ngModel placeholder="amount_raised" >
    </div> 
    <br>  
    <select #frequency class="custom-select" id="selection" name="payment_method" class="form-control" ngModel placeholder="payment_method">
      <option selected disabled hidden value=""> Payment Method</option>
      <option value="PAY-PAL">PAY-PAL</option>
    </select>
    <br>  
    
    
      <select #frequency class="custom-select mt-5 form-control" id="selection" name="donation_frequency" ngModel placeholder="donation_frequency">
        <option selected disabled hidden value="">Giving frequency</option>
        <option value="ONE-TIME">ONE-TIME</option>
        <option value="MONTHLY">MONTHLY</option>
        <option value="YEARLY">YEARLY</option>
      </select>
    
    
     <button class="btn btn-outline-warning mt-5 mr-5" type="submit">Submit</button> 
    
    
    </form>
    
    </div> -->

    